.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container > mat-card {
  width: 20rem;
  max-width: calc(100% - 2rem);
  padding: 1rem;
}

.login-container mat-card-actions {
  margin-block-start: 1rem;
  display: grid;
  row-gap: 1rem;
}

.login-container #google-login-cta {
  background-color: orangered;
  color: #fff;
}
.login-container #fb-login-cta {
  background-color: blue;
  color: #fff;
}
