#blogs-dashboard > h1 {
  font-weight: 500;
}

#blogs-dashboard mat-toolbar {
  justify-content: space-between;
  gap: 1rem;
}

#blogs-dashboard > ul {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
#blogs-dashboard > ul > li {
  flex-basis: 400px;
}
