<main id="blogs-dashboard">
  <nav>
    <mat-toolbar>
      <h1>Dashboard</h1>
      <a mat-flat-button [routerLink]="['/blogs/create']">Add Blog</a>
    </mat-toolbar>
  </nav>
  <ul>
    @for (blog of blogs(); track $index) {
    <li>
      <a [routerLink]="['/blogs/' + blog.id]">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{ blog.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ blog.content }}
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </li>
    }
  </ul>
</main>
